Repository open-ani/animeko, pull requests merged in 2024-08, with the labels that each got.

#694 windows 添加视频章节信息 (desktop only)
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/video-player/src/androidMain/kotlin/PlayerState.android.kt
  app/shared/video-player/src/commonMain/kotlin/ui/progress/MediaProgressSlider.kt
  app/shared/video-player/src/commonMain/kotlin/ui/state/PlayerState.kt
  app/shared/video-player/src/desktopMain/kotlin/ui/VideoPlayer.desktop.kt
Labels: s: player

#602 进度条跟随滑动手势
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeViewModel.kt
  app/shared/src/commonTest/kotlin/ui/VideoControllerStateTest.kt
  app/shared/video-player/src/androidMain/kotlin/ui/VideoScaffold.android.kt
  app/shared/video-player/src/commonMain/kotlin/ui/VideoControllerState.kt
  app/shared/video-player/src/commonMain/kotlin/ui/VideoScaffold.kt
  app/shared/video-player/src/commonMain/kotlin/ui/guesture/GestureLock.kt
  app/shared/video-player/src/commonMain/kotlin/ui/guesture/SwipeSeekerState.kt
  app/shared/video-player/src/commonMain/kotlin/ui/guesture/VideoGestureHost.kt
  app/shared/video-player/src/commonMain/kotlin/ui/progress/MediaProgressSlider.kt
  app/shared/video-player/src/commonMain/kotlin/ui/progress/PlayerControllerBar.kt
Labels: s: player

#703 自动连播
  app/shared/src/commonMain/kotlin/data/models/preference/VideoScaffoldConfig.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/app/AppSettingsTab.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeViewModel.kt
Labels: s: player

#676 windows音量控制
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/video-player/src/androidMain/kotlin/PlayerState.android.kt
  app/shared/video-player/src/commonMain/kotlin/ui/VideoScaffold.kt
  app/shared/video-player/src/commonMain/kotlin/ui/guesture/GestureLock.kt
  app/shared/video-player/src/commonMain/kotlin/ui/guesture/VideoGestureHost.kt
  app/shared/video-player/src/commonMain/kotlin/ui/progress/PlayerControllerBar.kt
  app/shared/video-player/src/commonMain/kotlin/ui/progress/VerticalSlider.kt
  app/shared/video-player/src/commonMain/kotlin/ui/state/PlayerState.kt
  app/shared/video-player/src/desktopMain/kotlin/ui/VideoPlayer.desktop.kt
Labels: s: player

#691 Rewrite SessionManager
  app/android/src/main/kotlin/activity/MainActivity.kt
  app/desktop/src/main/kotlin/AniDesktop.kt
  app/shared/src/androidMain/kotlin/ui/profile/ProfilePage.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/collection/CollectionPage.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/collection/components/CollectionPageUnauthorizedTips.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/episode/details/EpisodeDetails.android.kt
  app/shared/src/commonMain/kotlin/data/models/ApiResponse.kt
  app/shared/src/commonMain/kotlin/data/models/preference/ProfileSettings.kt
  app/shared/src/commonMain/kotlin/data/models/subject/SubjectManager.kt
  app/shared/src/commonMain/kotlin/data/repository/BangumiSubjectRepository.kt
  app/shared/src/commonMain/kotlin/data/repository/TokenRepository.kt
  app/shared/src/commonMain/kotlin/data/source/danmaku/DanmakuManager.kt
  app/shared/src/commonMain/kotlin/data/source/session/AuthState.kt
  app/shared/src/commonMain/kotlin/data/source/session/BangumiSessionManager.kt
  app/shared/src/commonMain/kotlin/data/source/session/ExternalOAuthRequest.kt
  app/shared/src/commonMain/kotlin/data/source/session/PreviewSessionManager.kt
  app/shared/src/commonMain/kotlin/data/source/session/SessionEvent.kt
  app/shared/src/commonMain/kotlin/data/source/session/SessionManager.kt
  app/shared/src/commonMain/kotlin/data/source/session/SessionState.kt
  app/shared/src/commonMain/kotlin/data/source/session/SessionStatus.kt
  app/shared/src/commonMain/kotlin/platform/AppStartupTasks.kt
  app/shared/src/commonMain/kotlin/platform/CommonKoinModule.kt
  app/shared/src/commonMain/kotlin/tools/caching/LazyDataCache.kt
  app/shared/src/commonMain/kotlin/ui/foundation/Previewing.kt
  app/shared/src/commonMain/kotlin/ui/main/HomeScene.kt
  app/shared/src/commonMain/kotlin/ui/profile/AccountViewModel.kt
  app/shared/src/commonMain/kotlin/ui/profile/BangumiOAuthViewModel.kt
  app/shared/src/commonMain/kotlin/ui/profile/ProfilePage.kt
  app/shared/src/commonMain/kotlin/ui/profile/UnauthorizedTips.kt
  app/shared/src/commonMain/kotlin/ui/profile/auth/BangumiOAuthPage.kt
  app/shared/src/commonMain/kotlin/ui/profile/auth/BangumiTokenAuthPage.kt
  app/shared/src/commonMain/kotlin/ui/profile/auth/WelcomePage.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/AboutTab.kt
  app/shared/src/commonMain/kotlin/ui/subject/collection/CollectionPage.kt
  app/shared/src/commonMain/kotlin/ui/subject/collection/MyCollectionsViewModelImpl.kt
  app/shared/src/commonMain/kotlin/ui/subject/collection/components/SessionTips.kt
  app/shared/src/commonMain/kotlin/ui/subject/components/comment/CommentLoader.kt
  app/shared/src/commonMain/kotlin/ui/subject/details/SubjectDetailsPage.kt
  app/shared/src/commonTest/kotlin/data/models/ApiResponseTest.kt
  app/shared/src/commonTest/kotlin/data/source/session/AbstractBangumiSessionManagerTest.kt
  app/shared/src/commonTest/kotlin/data/source/session/BangumiSessionManagerEventTest.kt
  app/shared/src/commonTest/kotlin/data/source/session/BangumiSessionManagerRequireAuthorizeTest.kt
  app/shared/src/commonTest/kotlin/data/source/session/BangumiSessionManagerTest.kt
  app/shared/src/commonTest/kotlin/package.kt
  app/shared/src/commonTest/kotlin/testFramework/MutablePreferences.kt
  app/shared/src/commonTest/kotlin/testFramework/MutableSettings.kt
  app/shared/src/desktopTest/kotlin/tools/caching/LazyDataCacheSamples.kt
  app/shared/src/desktopTest/kotlin/tools/caching/LazyDataCacheTest.kt
  buildSrc/src/main/kotlin/build.kt
Labels: s: auth

#717 修复 macOS 初始窗口大小
  app/desktop/src/main/kotlin/AniDesktop.kt
  app/shared/src/desktopMain/kotlin/desktop/ScreenUtils.kt
Labels: p: desktop

#725 Configure Android Instrumented test
  app/shared/src/androidInstrumentedTest/kotlin/package.kt
  buildSrc/src/main/kotlin/ani-mpp-lib-targets.gradle.kts
  buildSrc/src/main/kotlin/build.kt
Labels: s: build

#731 清除弹幕编辑框焦点
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/video-player/src/commonMain/kotlin/ui/guesture/VideoGestureHost.kt
Labels: s: player

#716 修复关闭弹幕后旋转屏幕 弹幕会自动打开
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/VideoDanmakuState.kt
  app/shared/video-player/src/androidMain/kotlin/ui/VideoScaffold.android.kt
  app/shared/video-player/src/commonMain/kotlin/ui/VideoControllerState.kt
Labels: s: 弹幕, s: player

#734 Close MediaCache synchronously
  app/shared/src/commonMain/kotlin/data/source/media/DummyMediaCacheEngine.kt
  app/shared/src/commonMain/kotlin/data/source/media/MediaCacheManager.kt
  app/shared/src/commonMain/kotlin/data/source/media/TorrentMediaCacheEngine.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/MediaCache.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/AboutTab.kt
  app/shared/video-player/src/androidMain/kotlin/PlayerState.android.kt
  app/shared/video-player/src/commonMain/kotlin/data/VideoData.kt
  app/shared/video-player/src/commonMain/kotlin/torrent/FileVideoSource.kt
  app/shared/video-player/src/commonMain/kotlin/torrent/HttpStreamingVideoSource.kt
  app/shared/video-player/src/commonMain/kotlin/torrent/TorrentVideoData.kt
  app/shared/video-player/src/commonMain/kotlin/ui/state/PlayerState.kt
  app/shared/video-player/src/desktopMain/kotlin/ui/VideoPlayer.desktop.kt
  torrent/anitorrent/gen/cpp/anitorrent_wrap.cpp
  torrent/anitorrent/gen/cpp/anitorrent_wrap.h
  torrent/anitorrent/gen/java/me/him188/ani/app/torrent/anitorrent/binding/anitorrentJNI.java
  torrent/anitorrent/gen/java/me/him188/ani/app/torrent/anitorrent/binding/event_listener_t.java
  torrent/anitorrent/gen/java/me/him188/ani/app/torrent/anitorrent/binding/torrent_info_t.java
  torrent/anitorrent/include/events.hpp
  torrent/anitorrent/include/torrent_info_t.hpp
  torrent/anitorrent/src/events.cpp
  torrent/anitorrent/src/torrent_info_t.cpp
  torrent/api/src/commonMain/kotlin/api/TorrentDownloadSession.kt
  torrent/api/src/commonMain/kotlin/api/files/TorrentFileEntry.kt
  torrent/impl/anitorrent/src/jvmMain/kotlin/AnitorrentDownloadSession.kt
  torrent/impl/anitorrent/src/jvmMain/kotlin/AnitorrentTorrentDownloader.jvm.kt
Labels: s: torrent

#710 Deskop updater (windows only)
  app/desktop/appResources/windows-x64/ani_update.exe
  app/desktop/src/main/kotlin/AniDesktop.kt
  app/shared/src/desktopMain/kotlin/tools/update/DesktopUpdateInstaller.kt
Labels: p: desktop/win

#744 更新开发文档
  CONTRIBUTING.md
Labels: t: documentation

#746 鼠标悬浮在控制器上保持显示控制器, close #585
  app/shared/src/commonMain/kotlin/ui/foundation/interaction/Hoverable.kt
  app/shared/video-player/src/commonMain/kotlin/ui/VideoControllerState.kt
  app/shared/video-player/src/commonMain/kotlin/ui/VideoScaffold.kt
  app/shared/video-player/src/desktopTest/kotlin/ui/EpisodeVideoControllerTest.kt
Labels: s: player

#732 修复滑动手势导致进度条位置不正确
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/desktopTest/kotlin/ui/progress/MediaProgressSliderStateTest.kt
  app/shared/video-player/src/commonMain/kotlin/ui/guesture/VideoGestureHost.kt
  app/shared/video-player/src/commonMain/kotlin/ui/progress/MediaProgressSlider.kt
  app/shared/video-player/src/commonMain/kotlin/ui/progress/PlayerControllerBar.kt
Labels: s: player

#749 修复使用集數切換會導致切換的下集跟著被標成已看
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeViewModel.kt
Labels: s: player

#751 在播放器中自动隐藏鼠标
  app/desktop/src/main/kotlin/AniDesktop.kt
  app/shared/src/androidMain/kotlin/ui/foundation/effects/CursorVisibilityEffect.android.kt
  app/shared/src/commonMain/kotlin/ui/foundation/effects/CursorVisibilityEffect.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeViewModel.kt
  app/shared/src/desktopMain/kotlin/platform/window/MacosWindowUtils.kt
  app/shared/src/desktopMain/kotlin/platform/window/PlatformWindow.desktop.kt
  app/shared/src/desktopMain/kotlin/platform/window/WindowUtils.kt
  app/shared/src/desktopMain/kotlin/platform/window/WindowsWindowUtils.kt
  app/shared/src/desktopMain/kotlin/ui/foundation/effects/CursorVisibilityEffect.desktop.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoCursorTest.kt
  app/shared/src/iosMain/kotlin/ui/foundation/effects/CursorVisibilityEffect.ios.kt
Labels: s: player

#750 修复追番列表未开播看过第一集后会显示继续观看
  app/shared/src/commonMain/kotlin/data/models/subject/SubjectProgressInfo.kt
  app/shared/src/commonTest/kotlin/data/subject/SubjectProgressInfoTest.kt
Labels: s: player

#708 跳过oped
  app/shared/src/commonMain/kotlin/data/models/preference/VideoScaffoldConfig.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/app/AppSettingsTab.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeViewModel.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/PlayerSkipOpEdState.kt
  app/shared/src/commonTest/kotlin/ui/subject/episode/video/PlayerSkipOpEdStateTest.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoCursorTest.kt
  app/shared/video-player/src/androidMain/kotlin/ui/VideoScaffold.android.kt
  app/shared/video-player/src/commonMain/kotlin/ui/VideoScaffold.kt
  app/shared/video-player/src/commonMain/kotlin/ui/progress/PlayerControllerBar.kt
  app/shared/video-player/src/desktopTest/kotlin/ui/EpisodeVideoControllerTest.kt
Labels: s: player

#702 Android 平台允许将 BT 缓存位置设置到外置存储
  app/android/src/main/kotlin/AndroidModules.kt
  app/android/src/main/kotlin/AniApplication.kt
  app/shared/build.gradle.kts
  app/shared/src/androidMain/kotlin/platform/AndroidPermissionManager.kt
  app/shared/src/androidMain/kotlin/platform/BaseComponentActivity.kt
  app/shared/src/androidMain/kotlin/ui/settings/tabs/media/AndroidTorrentCacheLocation.kt
  app/shared/src/androidMain/kotlin/ui/settings/tabs/media/AndroidTorrentCacheViewModel.kt
  app/shared/src/androidMain/kotlin/ui/settings/tabs/media/CacheDirectoryGroup.android.kt
  app/shared/src/androidUnitTest/kotlin/ui/settings/tabs/media/AndroidTorrentCacheViewModelTest.kt
  app/shared/src/commonMain/kotlin/data/models/preference/MediaCacheSettings.kt
  app/shared/src/commonMain/kotlin/data/source/media/TorrentMediaCacheEngine.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/DirectoryMediaCacheStorage.kt
  app/shared/src/commonMain/kotlin/platform/PermissionManager.kt
  app/shared/src/commonMain/kotlin/tools/MonoTasker.kt
  app/shared/src/commonMain/kotlin/ui/settings/framework/AbstractSettingsViewModel.kt
  app/shared/src/commonMain/kotlin/ui/settings/framework/components/SingleSelectionItem.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/CacheDirectoryGroup.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/MediaPreferenceTab.kt
  utils/io/src/commonMain/kotlin/Path.kt
  utils/io/src/jvmMain/kotlin/Path.jvm.kt
  utils/io/src/nativeMain/kotlin/Path.native.kt
Labels: p: android, s: cache

#768 Build and upload android armeabi-v7a, x86_64 and universal APKs
  .github/workflows/build.yml
  .github/workflows/release.yml
  app/android/build.gradle.kts
  app/desktop/src/main/kotlin/LocalDiscoveryDirectoryProvider.kt
  app/shared/src/androidMain/kotlin/platform/Platform.android.kt
  app/shared/src/commonMain/kotlin/data/source/media/selector/MediaSelectorSubtitlePreferences.kt
  app/shared/src/commonMain/kotlin/platform/Platform.kt
  app/shared/src/commonMain/kotlin/tools/torrent/TorrentManager.kt
  app/shared/src/commonMain/kotlin/ui/update/UpdateChecker.kt
  app/shared/src/desktopTest/kotlin/data/source/media/selector/DefaultMediaSelectorSubtitleKindTest.kt
  app/shared/video-player/src/commonMain/kotlin/ui/guesture/VideoGestureHost.kt
  ci-helper/build.gradle.kts
  ci-helper/release-template.md
  torrent/impl/anitorrent/src/jvmMain/kotlin/AnitorrentLibraryLoader.kt
Labels: s: build

#773 修复安卓 preview time 偏移
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoControllerTest.kt
  app/shared/video-player/src/commonMain/kotlin/ui/progress/MediaProgressSlider.kt
Labels: s: player

#739 feat: show all episode in select
  app/shared/src/commonMain/kotlin/data/models/episode/EpisodeInfo.kt
  app/shared/src/commonMain/kotlin/data/models/preference/DebugSettings.kt
  app/shared/src/commonMain/kotlin/data/models/subject/SubjectManager.kt
  app/shared/src/commonMain/kotlin/data/repository/BangumiEpisodeRepository.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/DebugTab.kt
  data-sources/api/src/commonMain/kotlin/EpisodeSort.kt
  data-sources/api/src/commonMain/kotlin/EpisodeType.kt
  data-sources/api/src/commonTest/kotlin/EpisodeSortTest.kt
  data-sources/api/src/commonTest/kotlin/title/generated/PatternTitleParserTest吹响吧_上低音号.kt
  data-sources/api/src/jvmMain/kotlin/Episode.jvm.kt
  data-sources/ikaros/src/IkarosClient.kt
  data-sources/ikaros/src/IkarosMediaSource.kt
  data-sources/ikaros/src/models/IkarosEpisodeGroup.kt
  data-sources/ikaros/v1alpha1.yaml
Labels: s: media

#801 重新设计缓存管理页面
  app/shared/src/androidMain/kotlin/ui/cache/CacheManagePage.android.kt
  app/shared/src/androidMain/kotlin/ui/cache/components/CacheGroupCard.android.kt
  app/shared/src/androidMain/kotlin/ui/cache/details/CacheGroupDetailsPage.android.kt
  app/shared/src/androidMain/kotlin/ui/cache/details/MediaDetailsColumn.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/cache/EditEpisodeCachePopup.android.kt
  app/shared/src/commonMain/kotlin/data/source/media/MediaTestData.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/MediaCache.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/MediaStats.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/engine/DummyMediaCacheEngine.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/engine/TorrentMediaCacheEngine.kt
  app/shared/src/commonMain/kotlin/navigation/AniNavigator.kt
  app/shared/src/commonMain/kotlin/ui/cache/CacheManagementPage.kt
  app/shared/src/commonMain/kotlin/ui/cache/MediaCachePresentation.kt
  app/shared/src/commonMain/kotlin/ui/cache/components/CacheEpisodeItem.kt
  app/shared/src/commonMain/kotlin/ui/cache/components/CacheGroupCard.kt
  app/shared/src/commonMain/kotlin/ui/cache/components/CacheManagementOverallStats.kt
  app/shared/src/commonMain/kotlin/ui/cache/details/CacheGroupDetailsPage.kt
  app/shared/src/commonMain/kotlin/ui/cache/details/MediaDetailsColumn.kt
  app/shared/src/commonMain/kotlin/ui/foundation/HasBackgroundScope.kt
  app/shared/src/commonMain/kotlin/ui/main/AniAppContentPortrait.kt
  app/shared/src/commonMain/kotlin/ui/main/HomeScene.kt
  app/shared/src/commonMain/kotlin/ui/subject/cache/EditEpisodeCachePopup.kt
  app/shared/src/commonTest/kotlin/ui/cache/components/CacheEpisodeStateTest.kt
  app/shared/src/desktopTest/kotlin/data/source/media/cache/DirectoryMediaCacheStorageTest.kt
  app/shared/src/desktopTest/kotlin/data/source/media/cache/requester/EpisodeCacheRequesterTest.kt
  app/shared/src/desktopTest/kotlin/data/source/media/selector/MediaSelectorAutoSelectTest.kt
  data-sources/api/src/commonMain/kotlin/MediaCacheMetadata.kt
  data-sources/api/src/commonMain/kotlin/source/MediaFetchRequest.kt
  torrent/api/src/commonMain/kotlin/api/files/DownloadStats.kt
  utils/coroutines/src/commonMain/kotlin/DebounceWithInitial.kt
  utils/coroutines/src/commonMain/kotlin/SampleWithInitial.kt
Labels: s: media, s: cache

#822 修复启动cmd时解析带有空格的路径异常的问题
  app/shared/src/desktopMain/kotlin/tools/update/DesktopUpdateInstaller.kt
Labels: p: desktop/win

#823 重构上传下载速度统计
  app/shared/src/androidMain/kotlin/ui/cache/CacheItem.android.kt
  app/shared/src/androidMain/kotlin/ui/cache/CacheManagePage.android.kt
  app/shared/src/androidMain/kotlin/ui/cache/components/CacheGroupCard.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/cache/CacheListGroup.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/collection/EpisodeProgress.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/episode/details/EpisodeCarousel.android.kt
  app/shared/src/commonMain/kotlin/data/source/media/MediaTestData.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/EpisodeCacheStatus.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/MediaCache.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/MediaCacheManager.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/MediaCacheNotificationTask.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/MediaStats.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/engine/DummyMediaCacheEngine.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/engine/MediaCacheEngine.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/engine/MediaStats.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/engine/TorrentMediaCacheEngine.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/storage/DirectoryMediaCacheStorage.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/storage/MediaCacheStorage.kt
  app/shared/src/commonMain/kotlin/tools/Progress.kt
  app/shared/src/commonMain/kotlin/tools/torrent/TorrentMediaCacheProgressState.kt
  app/shared/src/commonMain/kotlin/ui/cache/CacheManagementPage.kt
  app/shared/src/commonMain/kotlin/ui/cache/MediaCachePresentation.kt
  app/shared/src/commonMain/kotlin/ui/cache/components/CacheEpisodeItem.kt
  app/shared/src/commonMain/kotlin/ui/cache/components/CacheManagementOverallStats.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/TorrentEngineGroup.kt
  app/shared/src/commonMain/kotlin/ui/subject/cache/CacheListGroup.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/details/EpisodeCarousel.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/loading/EpisodeVideoLoadingIndicator.kt
  app/shared/src/commonTest/kotlin/ui/cache/components/CacheEpisodeStateTest.kt
  app/shared/src/desktopTest/kotlin/data/source/media/cache/DirectoryMediaCacheStorageTest.kt
  app/shared/src/desktopTest/kotlin/data/source/media/framework/TestMediaCacheEngine.kt
  app/shared/src/desktopTest/kotlin/tools/torrent/TorrentMediaCacheProgressStateTest.kt
  app/shared/video-player/src/androidMain/kotlin/ui/progress/MediaProgressSlider.android.kt
  app/shared/video-player/src/commonMain/kotlin/data/VideoData.kt
  app/shared/video-player/src/commonMain/kotlin/data/VideoSource.kt
  app/shared/video-player/src/commonMain/kotlin/torrent/FileVideoSource.kt
  app/shared/video-player/src/commonMain/kotlin/torrent/HttpStreamingVideoSource.kt
  app/shared/video-player/src/commonMain/kotlin/torrent/TorrentVideoData.kt
  data-sources/api/src/commonMain/kotlin/topic/FileSize.kt
  data-sources/bt/dmhy/src/impl/protocol/ListParser.kt
  data-sources/ikaros/src/IkarosClient.kt
  torrent/api/src/commonMain/kotlin/api/TorrentDownloadSession.kt
  torrent/api/src/commonMain/kotlin/api/TorrentDownloader.kt
  torrent/api/src/commonMain/kotlin/api/TorrentSession.kt
  torrent/api/src/commonMain/kotlin/api/files/DownloadStats.kt
  torrent/api/src/commonMain/kotlin/api/files/TorrentFileEntry.kt
  torrent/api/src/commonMain/kotlin/api/files/TorrentFileHandle.kt
  torrent/api/src/commonMain/kotlin/api/files/TorrentFilePieceMatcher.kt
  torrent/api/src/commonMain/kotlin/api/pieces/Piece.kt
  torrent/api/src/commonMain/kotlin/api/pieces/TorrentDownloadController.kt
  torrent/api/src/desktopTest/kotlin/io/OffsetTorrentInputTest.kt
  torrent/api/src/desktopTest/kotlin/io/TorrentInputTest.kt
  torrent/api/src/jvmMain/kotlin/TorrentInput.jvm.kt
  torrent/impl/anitorrent/src/commonMain/kotlin/AnitorrentTorrentDownloader.kt
  torrent/impl/anitorrent/src/commonMain/kotlin/session/AnitorrentDownloadSession.kt
  torrent/impl/anitorrent/src/commonMain/kotlin/session/MutableDownloadStats.kt
  torrent/impl/anitorrent/src/commonMain/kotlin/session/TorrentStats.kt
  torrent/impl/anitorrent/src/commonMain/kotlin/test/TestAnitorrentTorrentDownloader.kt
  torrent/impl/anitorrent/src/jvmMain/kotlin/session/SwigTorrentStats.kt
Labels: s: media, s: torrent, s: cache

#826 固定跳过提示在屏幕 3/4 位置
  app/shared/video-player/src/commonMain/kotlin/ui/VideoScaffold.kt
Labels: s: player

#819 Fix #557 评论图片在 PC 上过小
  app/shared/src/commonMain/kotlin/ui/foundation/richtext/RichText.kt
Labels: s: comment

#837 Windows 播放时自动隐藏鼠标, 同时统一了全平台实现, close #829
  app/desktop/src/main/kotlin/AniDesktop.kt
  app/shared/src/androidMain/kotlin/ui/foundation/effects/CursorVisibilityEffect.android.kt
  app/shared/src/commonMain/kotlin/ui/foundation/effects/CursorVisibilityEffect.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/desktopMain/kotlin/platform/window/PlatformWindow.desktop.kt
  app/shared/src/desktopMain/kotlin/platform/window/WindowUtils.kt
  app/shared/src/desktopMain/kotlin/ui/foundation/Previewing.desktop.kt
  app/shared/src/desktopMain/kotlin/ui/foundation/effects/CursorVisibilityEffect.desktop.kt
  app/shared/src/iosMain/kotlin/ui/foundation/effects/CursorVisibilityEffect.ios.kt
Labels: s: player, p: desktop/win

#834 当且仅当收到 onTorrentChecked 和 onMetadataReceived 时 load files
  torrent/anitorrent/gen/cpp/anitorrent_wrap.cpp
  torrent/anitorrent/gen/cpp/anitorrent_wrap.h
  torrent/anitorrent/gen/java/me/him188/ani/app/torrent/anitorrent/binding/anitorrentJNI.java
  torrent/anitorrent/gen/java/me/him188/ani/app/torrent/anitorrent/binding/event_listener_t.java
  torrent/anitorrent/gen/java/me/him188/ani/app/torrent/anitorrent/binding/torrent_handle_t.java
  torrent/anitorrent/include/events.hpp
  torrent/anitorrent/include/torrent_handle_t.hpp
  torrent/anitorrent/src/events.cpp
  torrent/anitorrent/src/torrent_handle_t.cpp
  torrent/impl/anitorrent/src/commonMain/kotlin/session/AnitorrentDownloadSession.kt
  torrent/impl/anitorrent/src/commonMain/kotlin/session/TorrentManagerSession.kt
  torrent/impl/anitorrent/src/commonMain/kotlin/test/TestAnitorrentTorrentDownloader.kt
  torrent/impl/anitorrent/src/jvmMain/kotlin/AnitorrentTorrentDownloader.jvm.kt
  torrent/impl/anitorrent/src/jvmMain/kotlin/session/SwigTorrentHandle.kt
Labels: s: torrent

#831 正确支持使用模板创建带有配置的数据源
  app/shared/src/androidMain/kotlin/ui/settings/tabs/network/EditMediaSourceDialog.android.kt
  app/shared/src/androidMain/kotlin/ui/settings/tabs/network/NetworkSettingsTab.adnroid.kt
  app/shared/src/androidMain/kotlin/ui/subject/episode/details/components/PlayingEpisodeItem.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/episode/mediaFetch/MediaSelector.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/episode/statistics/PlayerStatistics.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/episode/video/sidesheet/EpisodeVideoMediaSelectorSideSheet.android.kt
  app/shared/src/commonMain/kotlin/data/repository/MediaSourceInstanceRepository.kt
  app/shared/src/commonMain/kotlin/data/source/media/MediaTestData.kt
  app/shared/src/commonMain/kotlin/data/source/media/cache/MediaCacheManager.kt
  app/shared/src/commonMain/kotlin/data/source/media/fetch/MediaFetcher.kt
  app/shared/src/commonMain/kotlin/data/source/media/fetch/MediaSourceManager.kt
  app/shared/src/commonMain/kotlin/data/source/media/instance/MediaSourceInstance.kt
  app/shared/src/commonMain/kotlin/platform/CommonKoinModule.kt
  app/shared/src/commonMain/kotlin/ui/cache/details/CacheGroupDetailsPage.kt
  app/shared/src/commonMain/kotlin/ui/settings/framework/AbstractSettingsViewModel.kt
  app/shared/src/commonMain/kotlin/ui/settings/framework/ConnectionTester.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/network/EditMediaSourceLayout.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/network/NetworkSettingsTab.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/network/NetworkSettingsViewModel.kt
  app/shared/src/commonMain/kotlin/ui/subject/cache/CacheListGroup.kt
  app/shared/src/commonMain/kotlin/ui/subject/cache/SubjectCacheScene.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeViewModel.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/details/EpisodeDetails.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/details/EpisodePlayMediaSelector.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/details/components/PlayingEpisodeItem.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/mediaFetch/MediaSelectorPresentation.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/mediaFetch/MediaSelectorView.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/mediaFetch/MediaSourceInfoProvider.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/statistics/VideoStatistics.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/PlayerLauncher.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/sidesheet/EpisodeVideoMediaSelectorSideSheet.kt
  app/shared/src/desktopTest/kotlin/data/source/media/cache/DirectoryMediaCacheStorageTest.kt
  app/shared/src/desktopTest/kotlin/data/source/media/cache/requester/EpisodeCacheRequesterTest.kt
  app/shared/src/desktopTest/kotlin/data/source/media/selector/AbstractDefaultMediaSelectorTest.kt
  app/shared/src/desktopTest/kotlin/data/source/media/selector/MediaSelectorAutoSelectTest.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoControllerTest.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoCursorTest.kt
  app/shared/video-player/src/androidMain/kotlin/ui/VideoScaffold.android.kt
  data-sources/api/src/commonMain/kotlin/source/MediaSourceFactory.kt
  data-sources/api/src/commonMain/kotlin/source/TopicMediaSource.kt
  data-sources/api/src/commonMain/kotlin/source/parameter/MediaSourceParameter.kt
  data-sources/api/src/commonMain/kotlin/source/parameter/MediaSourceParameters.kt
  data-sources/bt/acg.rip/src/AcgRipMediaSource.kt
  data-sources/bt/dmhy/src/DmhyMediaSource.kt
  data-sources/bt/mikan/src/commonMain/kotlin/MikanMediaSource.kt
  data-sources/ikaros/src/IkarosMediaSource.kt
  data-sources/jellyfin/src/EmbyMediaSource.kt
  data-sources/jellyfin/src/JellyfinMediaSource.kt
  data-sources/web/gugufan/src/GugufanMediaSource.kt
  data-sources/web/mxdongman/src/MxdongmanMediaSource.kt
  data-sources/web/ntdm/src/NtdmMediaSource.kt
  data-sources/web/nyafun/src/NyafunMediaSource.kt
  data-sources/web/xfdm/src/XfdmMediaSource.kt
Labels: s: media

#839 添加 iOS APP 入口
  .github/workflows/build.yml
  .run/Run iOS Debug.run.xml
  CONTRIBUTING.md
  app/desktop/build.gradle.kts
  app/gradlew
  app/ios/.gitignore
  app/ios/Configuration/Config.xcconfig
  app/ios/README.md
  app/ios/iosApp.xcodeproj/project.pbxproj
  app/ios/iosApp/Assets.xcassets/AccentColor.colorset/Contents.json
  app/ios/iosApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  app/ios/iosApp/Assets.xcassets/AppIcon.appiconset/app-icon-192.png
  app/ios/iosApp/Assets.xcassets/Contents.json
  app/ios/iosApp/ContentView.swift
  app/ios/iosApp/Info.plist
  app/ios/iosApp/Preview Content/Preview Assets.xcassets/Contents.json
  app/ios/iosApp/iOSApp.swift
  app/shared/build.gradle.kts
  app/shared/src/commonMain/kotlin/data/source/media/selector/MediaSelectorSubtitlePreferences.kt
  app/shared/src/iosMain/kotlin/data/persistent/SettingsStore.ios.kt
  app/shared/src/iosMain/kotlin/ios/AniIos.kt
  app/shared/src/iosMain/kotlin/platform/Context.ios.kt
  app/shared/src/iosMain/kotlin/tools/update/IosUpdateInstaller.kt
  app/shared/src/iosMain/kotlin/ui/foundation/Previewing.ios.kt
  gradle.properties
Labels: s: build, p: ios

#735 在 PC 播放器使用 native skia 渲染
  app/shared/video-player/src/desktopMain/kotlin/ui/SkiaBitmapVideoSurface.kt
  app/shared/video-player/src/desktopMain/kotlin/ui/VideoPlayer.desktop.kt
Labels: p: desktop, s: player

#832 添加通用 RSS 数据源
  app/shared/src/commonMain/kotlin/data/source/media/fetch/MediaSourceManager.kt
  app/shared/src/commonMain/kotlin/data/source/media/source/RssMediaSource.kt
Labels: s: media

#854 修复桌面端自动连播
  app/shared/video-player/src/desktopMain/kotlin/ui/VideoPlayer.desktop.kt
Labels: s: player

#859 键盘快捷键控制音量
  app/shared/video-player/src/commonMain/kotlin/ui/guesture/VideoGestureHost.kt
  app/shared/video-player/src/commonMain/kotlin/ui/state/PlayerState.kt
  app/shared/video-player/src/desktopMain/kotlin/ui/VideoPlayer.desktop.kt
Labels: s: player

#860 修复 Windows 全屏白屏
  app/shared/src/androidMain/kotlin/platform/Context.android.kt
  app/shared/src/commonMain/kotlin/platform/Context.kt
  app/shared/src/commonMain/kotlin/ui/main/HomeScene.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/desktopMain/kotlin/platform/Context.desktop.kt
  app/shared/src/desktopMain/kotlin/platform/window/PlatformWindow.desktop.kt
  app/shared/src/desktopMain/kotlin/platform/window/WindowUtils.kt
  app/shared/src/desktopMain/kotlin/platform/window/WindowsWindowUtils.kt
  app/shared/src/iosMain/kotlin/platform/Context.ios.kt
Labels: s: player, p: desktop/win
