Repository open-ani/animeko, pull requests merged in 2024-10, with the labels that each got.

#1035 Replace desktop web video source resolver from selenium to java-cef
  app/desktop/src/main/kotlin/AniDesktop.kt
  app/shared/app-data/build.gradle.kts
  app/shared/app-data/src/desktopMain/kotlin/data/source/media/resolver/DesktopWebVideoSourceResolver.kt
  app/shared/app-data/src/desktopMain/kotlin/data/source/media/resolver/WebViewVideoExtractor.desktop.kt
  app/shared/app-data/src/desktopMain/kotlin/data/source/media/resolver/cef/RequestWillBeSent.kt
  app/shared/app-platform/build.gradle.kts
  app/shared/app-platform/src/desktopMain/kotlin/platform/AniCefApp.kt
  gradle/libs.versions.toml
Labels: M, p: desktop

#1050 在 windows 上禁用 WindowDragArea
  app/shared/ui-foundation/src/desktopMain/kotlin/ui/foundation/interaction/WindowDragArea.desktop.kt
Labels: p: desktop

#1061 CI: Generate release notes from release-template.md
  .github/workflows/release.yml
  ci-helper/release-template.md
Labels: s: build

#981 修复安卓播放页点击 topbar 所在的区域无法显示控制器
  app/shared/video-player/src/commonMain/kotlin/ui/guesture/VideoGestureHost.kt
Labels: s: player

#1082 检测计费网络状态来限制 BT 上传
  app/android/src/main/AndroidManifest.xml
  app/android/src/main/kotlin/AndroidModules.kt
  app/android/src/main/kotlin/activity/MainActivity.kt
  app/desktop/src/main/kotlin/AniDesktop.kt
  app/shared/AndroidManifest.xml
  app/shared/app-data/src/commonMain/kotlin/data/models/preference/AnitorrentConfig.kt
  app/shared/app-data/src/commonMain/kotlin/domain/torrent/TorrentManager.kt
  app/shared/app-platform/src/androidMain/kotlin/platform/MeteredNetworkDetector.android.kt
  app/shared/app-platform/src/commonMain/kotlin/platform/MeteredNetworkDetector.kt
  app/shared/app-platform/src/desktopMain/kotlin/platform/MeteredNetworkDetector.desktop.kt
  app/shared/app-platform/src/iosMain/kotlin/platform/MeteredNetworkDetector.ios.kt
  app/shared/application/src/commonMain/kotlin/platform/CommonKoinModule.kt
  app/shared/application/src/iosMain/kotlin/ios/AniIos.kt
  app/shared/src/commonMain/kotlin/ui/foundation/Previewing.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/tabs/DebugTab.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/tabs/media/TorrentEngineGroup.kt
Labels: s: torrent

#1099 PieceList
  app/shared/src/androidMain/kotlin/ui/subject/episode/video/TorrentMediaCacheProgressState.android.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/TorrentMediaCacheProgressState.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/video/TorrentMediaCacheProgressStateTest.kt
  torrent/anitorrent/src/commonMain/kotlin/session/AnitorrentDownloadSession.kt
  torrent/api/build.gradle.kts
  torrent/api/src/commonMain/kotlin/api/files/TorrentFileEntry.kt
  torrent/api/src/commonMain/kotlin/api/files/TorrentFilePieceMatcher.kt
  torrent/api/src/commonMain/kotlin/api/pieces/Piece.kt
  torrent/api/src/commonMain/kotlin/api/pieces/PieceList.kt
  torrent/api/src/commonMain/kotlin/api/pieces/TorrentDownloadController.kt
  torrent/api/src/commonMain/kotlin/io/TorrentInput.kt
  torrent/api/src/commonTest/kotlin/api/files/TorrentFilePieceMatcherTest.kt
  torrent/api/src/commonTest/kotlin/api/pieces/PieceListTest.kt
  torrent/api/src/commonTest/kotlin/api/pieces/PieceTest.kt
  torrent/api/src/jvmMain/kotlin/TorrentInput.jvm.kt
  torrent/api/src/jvmTest/kotlin/PiecesBuilder.kt
  torrent/api/src/jvmTest/kotlin/api/pieces/PieceTest.kt
  torrent/api/src/jvmTest/kotlin/io/OffsetTorrentInputTest.kt
  torrent/api/src/jvmTest/kotlin/io/TorrentInputTest.kt
  torrent/api/src/nativeMain/kotlin/io/TorrentInput.native.kt
  utils/io/src/commonMain/kotlin/SeekableInput.kt
Labels: s: torrent

#1102 Use JBR 17 by default in local builds and 21 in CI
  .github/workflows/build.yml
  .github/workflows/release.yml
  buildSrc/build.gradle.kts
  gradle.properties
Labels: s: build

#1112 修复全屏显示状态栏
  app/shared/ui-foundation/src/androidMain/kotlin/ui/foundation/layout/Fullscreen.android.kt
Labels: p: android

#1114 按住持续显示亮度/音量进度条
  app/shared/video-player/src/commonMain/kotlin/ui/guesture/SwipeVolumeControl.kt
  app/shared/video-player/src/commonMain/kotlin/ui/guesture/VideoGestureHost.kt
Labels: p: android, s: player

#1115 添加禁用字幕选项
  app/shared/video-player/src/androidMain/kotlin/PlayerState.android.kt
  app/shared/video-player/src/commonMain/kotlin/ui/progress/SubtitleSwitcher.kt
  app/shared/video-player/src/desktopMain/kotlin/ui/VideoPlayer.desktop.kt
Labels: s: player

#1110 记住窗口位置和大小
  app/desktop/src/main/kotlin/AniDesktop.kt
  app/shared/app-data/src/commonMain/kotlin/data/persistent/SettingsStore.kt
  app/shared/app-data/src/commonMain/kotlin/data/repository/WindowStateRepository.kt
Labels: p: desktop
