Repository open-ani/animeko, pull requests merged in 2024-07, with the labels that each got.

#541 Him188/anitorrent ci link version
  ci-helper/install-deps-windows.cmd
  torrent/anitorrent/build.gradle.kts
Labels: s: torrent

#543 fix:收藏页刷新滚动到顶部
  app/shared/src/commonMain/kotlin/ui/subject/collection/CollectionPage.kt
  app/shared/src/commonMain/kotlin/ui/subject/collection/MyCollectionColumn.kt
Labels: s: collection

#472 Danmaku Regex Filter
  app/shared/src/androidMain/kotlin/ui/subject/episode/video/settings/EpisodeVideoSettings.android.kt
  app/shared/src/commonMain/kotlin/data/persistent/SettingsStore.kt
  app/shared/src/commonMain/kotlin/data/repository/DanmakuRegexFilterRepository.kt
  app/shared/src/commonMain/kotlin/data/repository/SettingsRepository.kt
  app/shared/src/commonMain/kotlin/data/source/DanmakuManager.kt
  app/shared/src/commonMain/kotlin/platform/CommonKoinModule.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeViewModel.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/settings/DanmakuRegexFilterGroup.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/settings/EpisodeVideoSettings.kt
  app/shared/src/desktopMain/kotlin/platform/Context.desktop.kt
  danmaku/api/desktopTest/DanmakuCollectionAlgorithmTest.kt
  danmaku/api/desktopTest/TimeBasedDanmakuCollectionTest.kt
  danmaku/api/src/DanmakuCollection.kt
  danmaku/ui/androidMain/DanmakuHost.android.kt
  danmaku/ui/commonMain/DanmakuFilterConfig.kt
  danmaku/ui/commonMain/DanmakuRegexFilter.kt
Labels: t: feature, s: 弹幕

#573 Feat progress preview time
  app/shared/video-player/common/ui/progress/MediaProgressIndicatorText.kt
  app/shared/video-player/common/ui/progress/MediaProgressSlider.kt
Labels: t: feature, s: player

#643 Added ani url scheme by macOS
  app/desktop/build.gradle.kts
Labels: s: auth

#646 横屏时自动全屏
  app/shared/src/androidMain/kotlin/ui/foundation/effects/ScreenRotationEffect.android.kt
  app/shared/src/commonMain/kotlin/data/models/preference/VideoScaffoldConfig.kt
  app/shared/src/commonMain/kotlin/ui/foundation/effects/ScreenRotationEffect.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/app/AppSettingsTab.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/desktopMain/kotlin/ui/foundation/effects/ScreenRotationEffect.desktop.kt
Labels: s: player

#644 添加左侧长按快进
  app/shared/video-player/common/ui/guesture/VideoGestureHost.kt
Labels: s: player

#620 feat: screenshot by vlc video player in desktop
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/video-player/android/PlayerState.android.kt
  app/shared/video-player/android/ui/VideoScaffold.android.kt
  app/shared/video-player/common/ui/VideoScaffold.kt
  app/shared/video-player/common/ui/guesture/PlayerFloatingButtonBox.kt
  app/shared/video-player/common/ui/guesture/ScreenshotButton.kt
  app/shared/video-player/common/ui/state/PlayerState.kt
  app/shared/video-player/desktop/ui/VideoPlayer.desktop.kt
Labels: s: player
