Repository open-ani/animeko, pull requests merged in 2024-06, with the labels that each got.

#347 feat: ikaros datasource support.
  README.md
  app/shared/build.gradle.kts
  data-sources/ikaros/README.md
  data-sources/ikaros/build.gradle.kts
  data-sources/ikaros/resources/META-INF/services/me.him188.ani.datasources.api.source.MediaSourceFactory
  data-sources/ikaros/src/IkarosClient.kt
  data-sources/ikaros/src/IkarosMediaSource.kt
  data-sources/ikaros/src/models/IkarosCollectionType.kt
  data-sources/ikaros/src/models/IkarosEpisodeDetails.kt
  data-sources/ikaros/src/models/IkarosEpisodeMeta.kt
  data-sources/ikaros/src/models/IkarosEpisodeResource.kt
  data-sources/ikaros/src/models/IkarosSubjectDetails.kt
  data-sources/ikaros/src/models/IkarosSubjectMeta.kt
  data-sources/ikaros/src/models/IkarosVideoSubtitle.kt
  data-sources/ikaros/v1alpha1.yaml
  settings.gradle.kts
Labels: t: feature, s: media/new-source

#413 [ikaros] 识别更多字段
  data-sources/ikaros/src/DateFormater.kt
  data-sources/ikaros/src/IkarosClient.kt
  data-sources/ikaros/src/models/IkarosAttachment.kt
  data-sources/ikaros/src/models/IkarosAttachmentType.kt
Labels: t: feature, s: media/impl

#437 [build] Update actions dependencies
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: s: build

#448 支持 Jellyfin 数据源
  app/shared/build.gradle.kts
  app/shared/foundation/common/ui/mediaSource/JellyfinIcon.kt
  app/shared/foundation/common/ui/mediaSource/MediaSourceRendering.kt
  data-sources/jellyfin/build.gradle.kts
  data-sources/jellyfin/resources/META-INF/services/me.him188.ani.datasources.api.source.MediaSourceFactory
  data-sources/jellyfin/sample-item.json
  data-sources/jellyfin/src/JellyfinMediaSource.kt
  settings.gradle.kts
Labels: t: feature, s: media/impl

#452 feat: support extraFiles in ikaros data source for episode video attachment subtitles.
  data-sources/ikaros/src/AssNameParser.kt
  data-sources/ikaros/src/IkarosClient.kt
Labels: s: media/impl

#453 fix: 视频播放器UI上的字幕列表不及时更新
  app/shared/video-player/desktop/ui/VideoPlayer.desktop.kt
Labels: s: player/vlcj

#456 fix: 无法正确设置 qBittorrent 分类的问题
  app/shared/pages/settings/common/tabs/media/TorrentEngineGroup.kt
Labels: t: bug, s: torrent/qbittorrent

#459 rewrite searchpage pt.1
  app/shared/build.gradle.kts
  app/shared/data/android/persistent/DatabaseStorage.android.kt
  app/shared/data/common/data/database/AniDatabase.kt
  app/shared/data/common/data/database/dao/SearchHistoryDao.kt
  app/shared/data/common/data/database/dao/SearchTagDao.kt
  app/shared/data/common/data/database/eneity/SearchHistoryEntity.kt
  app/shared/data/common/data/database/eneity/SearchTagEntity.kt
  app/shared/data/common/data/models/OneshotActionConfig.kt
  app/shared/data/common/data/repositories/SettingsRepository.kt
  app/shared/data/common/data/repositories/SubjectSearchRepository.kt
  app/shared/data/common/persistent/DatabaseStorage.kt
  app/shared/data/desktop/persistent/DatabaseStorage.desktop.kt
  app/shared/foundation/android/interaction/FocusOnIme.android.kt
  app/shared/foundation/common/OneshotTip.kt
  app/shared/foundation/common/interaction/FocusOnIme.kt
  app/shared/foundation/desktop/interaction/FocusOnIme.desktop.kt
  app/shared/pages/home/common/HomePage.kt
  app/shared/pages/home/common/SearchViewModel.kt
  app/shared/pages/home/common/SubjectSearchBar.kt
  app/shared/pages/home/common/TagFilterChip.kt
  app/shared/pages/main/common/platform/CommonKoinModule.kt
  app/shared/pages/main/common/ui/main/HomeScene.kt
  app/shared/pages/subject-search/common/SubjectList.kt
  app/shared/schemas/me.him188.ani.app.data.database.AniDatabase/1.json
  build.gradle.kts
  gradle/libs.versions.toml
Labels: s: ui

#494 [WIP] 重写条目详情页
  app/shared/src/androidMain/kotlin/ui/subject/cache/SubjectCachePage.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/collection/SubjectCollectionAction.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/details/SubjectDetailsPage.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/details/components/SubjectBlurredBackground.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/details/components/SubjectDetailsContent.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/details/components/SubjectDetailsHeader.android.kt
  app/shared/src/commonMain/kotlin/data/repositories/BangumiRelatedCharactersRepository.kt
  app/shared/src/commonMain/kotlin/data/repositories/BangumiSubjectRepository.kt
  app/shared/src/commonMain/kotlin/data/subject/InfoboxParsing.kt
  app/shared/src/commonMain/kotlin/data/subject/PackedDate.kt
  app/shared/src/commonMain/kotlin/data/subject/RelatedCharacterInfo.kt
  app/shared/src/commonMain/kotlin/data/subject/RelatedPersonInfo.kt
  app/shared/src/commonMain/kotlin/data/subject/SubjectDetails.kt
  app/shared/src/commonMain/kotlin/data/subject/SubjectInfo.kt
  app/shared/src/commonMain/kotlin/data/subject/SubjectManager.kt
  app/shared/src/commonMain/kotlin/platform/CommonKoinModule.kt
  app/shared/src/commonMain/kotlin/ui/foundation/Background.kt
  app/shared/src/commonMain/kotlin/ui/foundation/HasBackgroundScope.kt
  app/shared/src/commonMain/kotlin/ui/foundation/avatar/AvatarImage.kt
  app/shared/src/commonMain/kotlin/ui/foundation/avatar/DefaultAvatar.kt
  app/shared/src/commonMain/kotlin/ui/foundation/layout/ConnectedScroll.kt
  app/shared/src/commonMain/kotlin/ui/foundation/widgets/FastLinearProgressIndicator.kt
  app/shared/src/commonMain/kotlin/ui/subject/collection/MyCollectionColumn.kt
  app/shared/src/commonMain/kotlin/ui/subject/collection/SubjectCollectionAction.kt
  app/shared/src/commonMain/kotlin/ui/subject/details/SubjectDetailsHeader.kt
  app/shared/src/commonMain/kotlin/ui/subject/details/SubjectDetailsPage.kt
  app/shared/src/commonMain/kotlin/ui/subject/details/SubjectDetailsScene.kt
  app/shared/src/commonMain/kotlin/ui/subject/details/SubjectDetailsState.kt
  app/shared/src/commonMain/kotlin/ui/subject/details/SubjectDetailsViewModel.kt
  app/shared/src/commonMain/kotlin/ui/subject/details/components/SubjectBlurredBackground.kt
  app/shared/src/commonMain/kotlin/ui/subject/details/components/SubjectDetailsCollectionData.kt
  app/shared/src/commonMain/kotlin/ui/subject/details/components/SubjectDetailsContent.kt
  app/shared/src/commonMain/kotlin/ui/subject/details/components/SubjectDetailsHeader.kt
  data-sources/bangumi/src/BangumiClient.kt
  data-sources/bangumi/src/client/BangumiClientSubjects.kt
  data-sources/bangumi/src/processing/Staff.kt
Labels: s: ui
