Repository open-ani/animeko, pull requests merged in 2024-12, with the labels that each got.

#1251 Support display preload SubjectInfo when navigate to SubjectDetailPage
  app/shared/app-data/src/commonMain/kotlin/data/models/subject/SubjectInfo.kt
  app/shared/app-data/src/commonMain/kotlin/data/persistent/database/dao/SubjectCollectionDao.kt
  app/shared/app-data/src/commonMain/kotlin/data/repository/subject/SubjectCollectionRepository.kt
  app/shared/app-platform/src/commonMain/kotlin/navigation/AniNavigator.kt
  app/shared/app-platform/src/commonMain/kotlin/navigation/NavRoutes.kt
  app/shared/app-platform/src/commonMain/kotlin/navigation/SerializableNavType.kt
  app/shared/application/src/commonMain/kotlin/platform/CommonKoinModule.kt
  app/shared/src/commonMain/kotlin/ui/cache/components/CacheGroupCard.kt
  app/shared/src/commonMain/kotlin/ui/main/AniAppContent.kt
  app/shared/src/commonMain/kotlin/ui/main/MainScene.kt
  app/shared/src/commonMain/kotlin/ui/main/SearchViewModel.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/details/EpisodeDetails.kt
  app/shared/ui-exploration/src/commonMain/kotlin/ui/exploration/ExplorationPage.kt
  app/shared/ui-exploration/src/commonMain/kotlin/ui/exploration/followed/FollowedSubjectsLazyRow.kt
  app/shared/ui-foundation/src/commonMain/kotlin/ui/foundation/layout/CarouselItem.kt
  app/shared/ui-subject/src/androidMain/kotlin/ui/subject/details/SubjectDetailsPage.android.kt
  app/shared/ui-subject/src/androidMain/kotlin/ui/subject/details/components/SubjectDetailsHeader.android.kt
  app/shared/ui-subject/src/androidMain/kotlin/ui/subject/details/state/SubjectDetailsState.android.kt
  app/shared/ui-subject/src/commonMain/kotlin/ui/subject/collection/CollectionPage.kt
  app/shared/ui-subject/src/commonMain/kotlin/ui/subject/details/SubjectDetailsPage.kt
  app/shared/ui-subject/src/commonMain/kotlin/ui/subject/details/SubjectDetailsViewModel.kt
  app/shared/ui-subject/src/commonMain/kotlin/ui/subject/details/components/DetailsTab.kt
  app/shared/ui-subject/src/commonMain/kotlin/ui/subject/details/components/SubjectDetailsHeader.kt
  app/shared/ui-subject/src/commonMain/kotlin/ui/subject/details/state/SubjectDetailsState.kt
  app/shared/ui-subject/src/commonMain/kotlin/ui/subject/details/state/SubjectDetailsStateFactory.kt
  app/shared/ui-subject/src/commonMain/kotlin/ui/subject/details/state/SubjectDetailsStateLoader.kt
Labels: z: ready-to-merge, s: subject

#1289 Fix a missing SQL statement change in 35e4cb9
  app/shared/app-data/src/commonMain/kotlin/data/persistent/database/dao/EpisodeCollectionDao.kt
Labels: s: subject

#1291 支持缓存在线源剧集列表
  app/shared/app-data/schemas/me.him188.ani.app.data.persistent.database.AniDatabase/13.json
  app/shared/app-data/src/commonMain/kotlin/data/persistent/database/AniDatabase.kt
  app/shared/app-data/src/commonMain/kotlin/data/persistent/database/dao/WebSearchEpisodeInfoDao.kt
  app/shared/app-data/src/commonMain/kotlin/data/persistent/database/dao/WebSearchSubjectInfoDao.kt
  app/shared/app-data/src/commonMain/kotlin/data/repository/media/SelectorMediaSourceEpisodeCacheRepository.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/fetch/MediaSourceManager.kt
  app/shared/app-data/src/commonMain/kotlin/domain/mediasource/web/SelectorMediaSource.kt
  app/shared/application/src/commonMain/kotlin/platform/CommonKoinModule.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeViewModel.kt
Labels: s: media, s: cache

#1306 Use self-hosted runners
  .github/workflows/build.yml
  app/shared/ui-foundation/src/desktopMain/kotlin/platform/window/WindowUtils.kt
  app/shared/ui-foundation/src/desktopMain/kotlin/ui/foundation/effects/CursorVisibilityEffect.desktop.kt
  torrent/anitorrent/anitorrent-native/README.md
Labels: s: build

#1305 支持订阅 Peer 过滤规则
  app/android/src/main/kotlin/AndroidModules.kt
  app/desktop/src/main/kotlin/AniDesktop.kt
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/collector/ITorrentPeerConfigCollector.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/parcel/PTorrentPeerConfig.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/parcel/PTorrentPeerFilterSettings.aidl
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/client/RemoteAnitorrentEngine.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/parcel/PEncodedTorrentInfo.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/parcel/PTorrentPeerConfig.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/service/AniTorrentService.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/service/proxy/TorrentEngineProxy.kt
  app/shared/app-data/src/commonMain/kotlin/data/models/preference/TorrentPeerConfig.kt
  app/shared/app-data/src/commonMain/kotlin/data/persistent/SettingsStore.kt
  app/shared/app-data/src/commonMain/kotlin/data/repository/torrent/peer/PeerFilterSubscriptionRepository.kt
  app/shared/app-data/src/commonMain/kotlin/domain/torrent/TorrentEngine.kt
  app/shared/app-data/src/commonMain/kotlin/domain/torrent/TorrentEngineFactory.kt
  app/shared/app-data/src/commonMain/kotlin/domain/torrent/TorrentManager.kt
  app/shared/app-data/src/commonMain/kotlin/domain/torrent/engines/AnitorrentEngine.kt
  app/shared/app-data/src/commonMain/kotlin/domain/torrent/peer/PeerFilterRule.kt
  app/shared/app-data/src/commonMain/kotlin/domain/torrent/peer/PeerFilterSettings.kt
  app/shared/app-data/src/commonMain/kotlin/domain/torrent/peer/PeerFilterSubscription.kt
  app/shared/app-data/src/desktopTest/kotlin/domain/media/cache/DirectoryMediaCacheStorageTest.kt
  app/shared/application/src/commonMain/kotlin/platform/CommonKoinModule.kt
  app/shared/application/src/iosMain/kotlin/ios/AniIos.kt
  app/shared/src/commonMain/kotlin/ui/foundation/Previewing.kt
  app/shared/ui-settings/src/androidMain/kotlin/ui/settings/tabs/media/torrent/peer/BlackListEditPane.android.kt
  app/shared/ui-settings/src/androidMain/kotlin/ui/settings/tabs/media/torrent/peer/PeerFilterEditPane.android.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/SettingsPage.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/framework/components/SettingsScope.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/tabs/media/torrent/peer/AddBlockedIPDialog.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/tabs/media/torrent/peer/BlackListEditPane.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/tabs/media/torrent/peer/PeerFilterEditPane.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/tabs/media/torrent/peer/PeerFilterSettings.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/tabs/media/torrent/peer/PeerFilterSettingsState.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/tabs/media/torrent/peer/PeerFilterSettingsViewModel.kt
Labels: s: torrent

#1318 Typesafe actions
  .github/workflows/README.md
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/src.main.kts
  app/android/build.gradle.kts
  ci-helper/build.gradle.kts
Labels: s: build

#1294 添加 nsfw 设置选项
  app/shared/app-data/src/commonMain/kotlin/data/models/preference/UISettings.kt
  app/shared/app-data/src/commonMain/kotlin/data/models/subject/FollowedSubjectInfo.kt
  app/shared/app-data/src/commonMain/kotlin/data/models/subject/SubjectCollectionInfo.kt
  app/shared/app-data/src/commonMain/kotlin/data/repository/subject/FollowedSubjectsRepository.kt
  app/shared/app-data/src/commonMain/kotlin/data/repository/subject/SubjectCollectionRepository.kt
  app/shared/app-data/src/commonMain/kotlin/data/repository/subject/SubjectSearchRepository.kt
  app/shared/application/src/commonMain/kotlin/platform/CommonKoinModule.kt
  app/shared/src/commonMain/kotlin/ui/main/ExplorationPageViewModel.kt
  app/shared/src/commonMain/kotlin/ui/main/SearchViewModel.kt
  app/shared/ui-exploration/src/commonMain/kotlin/ui/exploration/followed/FollowedSubjectsLazyRow.kt
  app/shared/ui-exploration/src/commonMain/kotlin/ui/exploration/search/SearchPage.kt
  app/shared/ui-exploration/src/commonMain/kotlin/ui/exploration/search/SubjectPreviewItem.kt
  app/shared/ui-foundation/src/androidMain/kotlin/ui/foundation/effects/BlurEffect.android.kt
  app/shared/ui-foundation/src/commonMain/kotlin/ui/foundation/effects/BlurEffect.kt
  app/shared/ui-foundation/src/commonMain/kotlin/ui/foundation/widgets/NsfwMask.kt
  app/shared/ui-foundation/src/skikoMain/kotlin/ui/foundation/effects/BlurEffect.skiko.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/tabs/app/AppSettingsTab.kt
  app/shared/ui-subject/src/commonMain/kotlin/ui/subject/collection/CollectionPage.kt
  app/shared/ui-subject/src/commonMain/kotlin/ui/subject/collection/SubjectCollectionsColumn.kt
  app/shared/ui-subject/src/commonMain/kotlin/ui/subject/collection/UserCollectionsViewModel.kt
Labels: s: collection

#1361 Place anitorrent natives under JVM library path
  .github/workflows/build.yml
  .github/workflows/src.main.kts
  app/desktop/.gitignore
  app/desktop/build.gradle.kts
  app/desktop/test-sandbox/libanitorrent.dylib
  ci-helper/install-deps-windows.cmd
  torrent/anitorrent/anitorrent-native/CMakeLists.txt
  torrent/anitorrent/anitorrent-native/README.md
  torrent/anitorrent/anitorrent-native/build.gradle.kts
  torrent/anitorrent/src/jvmMain/kotlin/AnitorrentLibraryLoader.kt
  torrent/anitorrent/src/jvmTest/kotlin/AnitorrentLibraryLoaderTest.kt
Labels: s: torrent

#1365 Desktop proguard
  app/desktop/build.gradle.kts
  app/desktop/proguard-desktop.pro
  app/shared/kotlinx-coroutines.pro
  app/shared/kotlinx-serialization.pro
  app/shared/proguard-rules.pro
  buildSrc/src/main/kotlin/build.kt
Labels: p: desktop

#1376 CI 增加在不同系统环境测试是否能加载 anitorrent
  .github/workflows/build.yml
  .github/workflows/build_pr.yml
  .github/workflows/release.yml
  .github/workflows/src.main.kts
  app/desktop/src/main/kotlin/AniDesktop.kt
  ci-helper/verify/run-ani-test-macos-aarch64.sh
  ci-helper/verify/run-ani-test-windows-x64.ps1
Labels: s: build

#1401 Fix anitorrent progurad
  app/shared/proguard-rules.pro
  torrent/anitorrent/src/jvmMain/kotlin/AnitorrentLibraryLoader.kt
Labels: s: torrent, s: build

#1408 为 Jellyfin 添加 Movie 类型和字幕的支持
  datasource/jellyfin/sample-item.json
  datasource/jellyfin/src/BaseJellyfinMediaSource.kt
Labels: s: media
