Repository open-ani/animeko, pull requests merged in 2024-11, with the labels that each got.

#1143 修复字幕轨道自动切换
  app/shared/video-player/src/desktopMain/kotlin/ui/VideoPlayer.desktop.kt
Labels: s: player

#1141 支持折叠侧边栏 (desktop)
  app/shared/src/androidMain/kotlin/ui/subject/episode/EpisodeVideo.android.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeViewModel.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoControllerTest.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoCursorTest.kt
  app/shared/ui-foundation/src/commonMain/kotlin/ui/foundation/icons/RightPanel.kt
Labels: p: desktop, s: player

#1171 Remove special words in css selector searches
  app/shared/app-data/src/commonMain/kotlin/domain/mediasource/MediaListFilterContext.kt
  app/shared/app-data/src/commonMain/kotlin/domain/mediasource/MediaListFilters.kt
  app/shared/app-data/src/commonMain/kotlin/domain/mediasource/web/SelectorMediaSource.kt
  app/shared/app-data/src/commonMain/kotlin/domain/mediasource/web/SelectorMediaSourceEngine.kt
  app/shared/app-data/src/commonMain/kotlin/domain/mediasource/web/SelectorSearchConfig.kt
  app/shared/app-data/src/commonMain/kotlin/domain/mediasource/web/WebSearchSubjectInfo.kt
  app/shared/app-data/src/commonMain/kotlin/domain/mediasource/web/format/SelectorChannelFormat.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/edit/SelectorConfigPane.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/edit/SelectorConfigState.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/test/SelectTestEpisodeResult.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/test/SelectorTestState.kt
  datasource/api/src/commonMain/kotlin/topic/EpisodeRange.kt
  utils/platform/src/commonMain/kotlin/Strings.kt
  utils/platform/src/commonTest/kotlin/StringsTest.kt
Labels: s: media

#1191 修复暂停的时候seek就会一直显示正在缓冲
  app/shared/video-player/src/androidMain/kotlin/PlayerState.android.kt
Labels: p: android, s: player

#1201 Async RPC call of Android Binder
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/IRemoteAniTorrentEngine.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/IRemoteTorrentDownloader.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/IRemoteTorrentFileEntry.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/IRemoteTorrentSession.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/callback/ITorrentDownloaderStatsCallback.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/callback/ITorrentFileEntryStatsCallback.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/callback/ITorrentSessionStatsCallback.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/collector/IAnitorrentConfigCollector.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/collector/IProxySettingsCollector.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/collector/ITorrentPeerConfigCollector.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/cont/ContTorrentDownloaderFetchTorrent.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/cont/ContTorrentDownloaderStartDownload.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/cont/ContTorrentFileEntryGetInputParams.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/cont/ContTorrentFileEntryResolveFile.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/cont/ContTorrentSessionGetFiles.aidl
  app/shared/app-data/src/androidMain/aidl/me/him188/ani/app/domain/torrent/parcel/RemoteContinuationException.aidl
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/client/RemoteAnitorrentEngine.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/client/RemoteCall.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/client/RemoteObject.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/client/RemoteTorrentDownloader.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/client/RemoteTorrentFileEntry.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/client/RemoteTorrentFileEntryList.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/client/RemoteTorrentFileHandle.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/client/RemoteTorrentSession.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/parcel/RemoteContinuationException.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/service/AniTorrentService.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/service/proxy/TorrentDownloaderProxy.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/service/proxy/TorrentEngineProxy.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/service/proxy/TorrentFileEntryListProxy.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/service/proxy/TorrentFileEntryProxy.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/service/proxy/TorrentFileHandleProxy.kt
  app/shared/app-data/src/androidMain/kotlin/domain/torrent/service/proxy/TorrentSessionProxy.kt
Labels: s: torrent

#1208 Fix TorrentDownloadController
  torrent/api/src/commonMain/kotlin/api/pieces/PieceList.kt
  torrent/api/src/commonMain/kotlin/api/pieces/TorrentDownloadController.kt
  torrent/api/src/commonTest/kotlin/api/pieces/TorrentDownloadControllerTest.kt
Labels: s: torrent

#1217 Set android target sdk to 35
  app/android/src/main/AndroidManifest.xml
  gradle.properties
  gradle/libs.versions.toml
Labels: p: android, s: build

#1232 CI macOS arm 使用精确的 JBR 版本
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: s: build

#1222 New design of TorrentDownloadController
  torrent/anitorrent/src/commonMain/kotlin/session/AnitorrentDownloadSession.kt
  torrent/api/src/commonMain/kotlin/api/pieces/TorrentDownloadController.kt
  torrent/api/src/commonTest/kotlin/api/pieces/TorrentDownloadControllerTest.kt
Labels: s: torrent

#1145 修复获取屏幕尺寸
  app/shared/src/desktopMain/kotlin/desktop/ScreenUtils.kt
Labels: p: desktop
