Repository open-ani/animeko, pull requests merged in 2024-09, with the labels that each got.

#836 Rewrite danmaku renderer
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeViewModel.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/VideoDanmakuState.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoControllerTest.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoCursorTest.kt
  app/shared/video-player/src/androidMain/kotlin/ui/VideoScaffold.android.kt
  danmaku/ui/androidMain/DanmakuHost.android.kt
  danmaku/ui/build.gradle.kts
  danmaku/ui/commonMain/DanmakuConfig.kt
  danmaku/ui/commonMain/DanmakuHost.kt
  danmaku/ui/commonMain/DanmakuHostState.kt
  danmaku/ui/commonMain/DanmakuTrack.kt
  danmaku/ui/commonMain/DanmakuTrackProperties.kt
  danmaku/ui/commonMain/FixedDanmakuTrack.kt
  danmaku/ui/commonMain/FixedDanmakuTrackState.kt
  danmaku/ui/commonMain/FloatingDanmakuTrack.kt
  danmaku/ui/commonMain/SizeSpecifiedDanmaku.kt
  danmaku/ui/commonMain/StyledDanmaku.kt
  danmaku/ui/commonMain/linear.kt
  danmaku/ui/commonTest/FloatingDanmakuTrackTest.kt
Labels: s: 弹幕

#883 RSS 数据源单独在一个设置页设置
  app/shared/src/androidMain/kotlin/ui/settings/tabs/network/EditMediaSourceDialog.android.kt
  app/shared/src/commonMain/kotlin/data/source/media/fetch/MediaSourceManager.kt
  app/shared/src/commonMain/kotlin/data/source/media/source/RssMediaSource.kt
  app/shared/src/commonMain/kotlin/navigation/AniNavigator.kt
  app/shared/src/commonMain/kotlin/ui/main/AniAppContentPortrait.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/ConfimExitDialog.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/EditMediaSourceLayout.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/EditRssMediaSource.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/MediaSourceGroup.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/MediaSourceGroupState.kt
  data-sources/api/src/commonMain/kotlin/source/MediaSourceFactory.kt
Labels: s: media

#853 安卓自动隐藏控制器
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoControllerTest.kt
  app/shared/video-player/src/commonMain/kotlin/ui/VideoScaffold.kt
  app/shared/video-player/src/commonMain/kotlin/ui/guesture/VideoGestureHost.kt
  app/shared/video-player/src/commonTest/kotlin/ui/VideoControllerStateTest.kt
Labels: s: player

#896 Defer creating danmaku image to DrawScope
  danmaku/ui/androidMain/DanmakuHost.android.kt
  danmaku/ui/commonMain/DanmakuHost.kt
  danmaku/ui/commonMain/StyledDanmaku.kt
Labels: s: 弹幕

#899 改掉過長描述/更正連結
  app/shared/src/commonMain/kotlin/ui/profile/HelpDropdown.kt
  app/shared/src/commonMain/kotlin/ui/profile/ProfilePage.kt
Labels: s: ui, s: settings

#908 引入 MediaListFilter 并增加更多 RSS 过滤
  app/shared/src/androidMain/kotlin/ui/settings/tabs/media/source/EditRssMediaSource.android.kt
  app/shared/src/commonMain/kotlin/data/source/media/source/MediaListFilter.kt
  app/shared/src/commonMain/kotlin/data/source/media/source/MediaListFilterContext.kt
  app/shared/src/commonMain/kotlin/data/source/media/source/MediaListFilters.kt
  app/shared/src/commonMain/kotlin/data/source/media/source/RssMediaSource.kt
  app/shared/src/commonMain/kotlin/data/source/media/source/RssMediaSourceEngine.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/rss/EditRssMediaSource.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/rss/EditRssMediaSourceViewModel.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/rss/edit/RssEditPane.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/rss/test/RssInfoTab.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/rss/test/RssTestPane.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/rss/test/RssTestPaneState.kt
  app/shared/src/commonTest/kotlin/data/source/media/source/MediaListFilterSamples.kt
Labels: s: media

#797 修复了老版本弹幕正则过滤的问题
  app/shared/src/androidMain/kotlin/ui/settings/tabs/app/UISettingsTab.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/episode/video/settings/EpisodeVideoSettings.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/episode/video/sidesheet/EditDanmakuRegexFilterSideSheet.android.kt
  app/shared/src/commonMain/kotlin/data/models/danmaku/DanmakuFilterConfig.kt
  app/shared/src/commonMain/kotlin/ui/profile/SettingsViewModel.kt
  app/shared/src/commonMain/kotlin/ui/settings/SettingsPage.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/app/AppSettingsTab.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeViewModel.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/settings/DanmakuRegexFilterGroup.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/settings/DanmakuRegexFilterState.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/settings/EpisodeVideoSettings.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/sidesheet/EditDanmakuRegexFilterSideSheet.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoControllerTest.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoCursorTest.kt
  app/shared/video-player/src/androidMain/kotlin/ui/VideoScaffold.android.kt
  danmaku/api/src/commonMain/kotlin/DanmakuCollection.kt
  danmaku/ui/androidMain/DanmakuHost.android.kt
Labels: s: 弹幕

#898 支持记录单集播放进度
  app/shared/src/commonMain/kotlin/data/persistent/SettingsStore.kt
  app/shared/src/commonMain/kotlin/data/repository/EpisodePlayHistoryRepository.kt
  app/shared/src/commonMain/kotlin/data/source/media/selector/MediaSelector.kt
  app/shared/src/commonMain/kotlin/data/source/media/selector/MediaSelectorEvents.kt
  app/shared/src/commonMain/kotlin/platform/CommonKoinModule.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeViewModel.kt
  app/shared/video-player/src/androidMain/kotlin/PlayerState.android.kt
  app/shared/video-player/src/desktopMain/kotlin/ui/VideoPlayer.desktop.kt
Labels: s: player, s: episode

#910 Respect to canonical M3 color system and window insets
  app/desktop/src/main/kotlin/AniDesktop.kt
  app/shared/build.gradle.kts
  app/shared/src/androidMain/kotlin/ui/main/AniApp.android.kt
  app/shared/src/androidMain/kotlin/ui/subject/collection/CollectionPage.android.kt
  app/shared/src/commonMain/kotlin/data/models/preference/UISettings.kt
  app/shared/src/commonMain/kotlin/ui/cache/CacheManagementPage.kt
  app/shared/src/commonMain/kotlin/ui/cache/components/CacheEpisodeItem.kt
  app/shared/src/commonMain/kotlin/ui/cache/components/CacheGroupCard.kt
  app/shared/src/commonMain/kotlin/ui/cache/details/CacheGroupDetailsPage.kt
  app/shared/src/commonMain/kotlin/ui/foundation/Previewing.kt
  app/shared/src/commonMain/kotlin/ui/foundation/Tag.kt
  app/shared/src/commonMain/kotlin/ui/foundation/layout/WindowSizeClasses.kt
  app/shared/src/commonMain/kotlin/ui/foundation/theme/AppTheme.kt
  app/shared/src/commonMain/kotlin/ui/foundation/theme/Colors.kt
  app/shared/src/commonMain/kotlin/ui/foundation/widgets/ModalBottomImeAwareSheet.kt
  app/shared/src/commonMain/kotlin/ui/home/HomePage.kt
  app/shared/src/commonMain/kotlin/ui/home/search/SubjectSearchBar.kt
  app/shared/src/commonMain/kotlin/ui/main/AniApp.kt
  app/shared/src/commonMain/kotlin/ui/main/AniAppContent.kt
  app/shared/src/commonMain/kotlin/ui/main/AniAppContentPortrait.kt
  app/shared/src/commonMain/kotlin/ui/main/HomeScene.kt
  app/shared/src/commonMain/kotlin/ui/profile/auth/BangumiOAuthPage.kt
  app/shared/src/commonMain/kotlin/ui/profile/auth/BangumiTokenAuthPage.kt
  app/shared/src/commonMain/kotlin/ui/profile/auth/WelcomePage.kt
  app/shared/src/commonMain/kotlin/ui/settings/SettingsPage.kt
  app/shared/src/commonMain/kotlin/ui/settings/framework/components/SettingsScope.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/app/AppSettingsTab.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/rss/EditRssMediaSource.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/rss/test/OverviewTab.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/rss/test/RssInfoTab.kt
  app/shared/src/commonMain/kotlin/ui/settings/tabs/media/source/rss/test/RssTestPane.kt
  app/shared/src/commonMain/kotlin/ui/subject/cache/CacheListGroup.kt
  app/shared/src/commonMain/kotlin/ui/subject/cache/SubjectCacheScene.kt
  app/shared/src/commonMain/kotlin/ui/subject/collection/CollectionPage.kt
  app/shared/src/commonMain/kotlin/ui/subject/collection/SubjectCollectionsColumn.kt
  app/shared/src/commonMain/kotlin/ui/subject/details/SubjectDetailsPage.kt
  app/shared/src/commonMain/kotlin/ui/subject/details/components/DetailsTab.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/details/EpisodeDetails.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/details/EpisodePlayMediaSelector.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/details/components/DanmakuMatchInfoGrid.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/mediaFetch/MediaSelectorView.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/settings/EpisodeVideoSettings.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/settings/EpisodeVideoSettingsSideSheet.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/sidesheet/EpisodeVideoMediaSelectorSideSheet.kt
  app/shared/src/iosMain/kotlin/ios/AniIos.kt
  app/shared/src/skikoMain/kotlin/ui/main/AniApp.skiko.kt
  app/shared/video-player/src/commonMain/kotlin/ui/VideoScaffold.kt
  app/shared/video-player/src/commonMain/kotlin/ui/top/PlayerTopBar.kt
  gradle/libs.versions.toml
Labels: s: ui

#930 修复安卓发弹幕后关闭键盘并恢复播放
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
Labels: s: 弹幕

#933 修复 desktop 端使用集數切換會導致切換的下集跟著被標成已看
  app/shared/video-player/src/desktopMain/kotlin/ui/VideoPlayer.desktop.kt
Labels: s: player

#916 Improve stability of Compose UI tests
  app/shared/src/commonTest/kotlin/data/source/session/AbstractBangumiSessionManagerTest.kt
  utils/ui-testing/src/commonMain/kotlin/RunComposeStateTest.kt
Labels: s: build

#940 修复播放器内打开侧边栏几秒后关闭侧边栏时直接隐藏了控制器
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoCursorTest.kt
  app/shared/video-player/src/commonMain/kotlin/ui/guesture/VideoGestureHost.kt
Labels: s: player

#938 修复播放器弹出选倍速菜单后仍然会自动关闭
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoControllerTest.kt
  app/shared/video-player/src/commonMain/kotlin/ui/progress/PlayerControllerBar.kt
Labels: s: player

#946 支持不同长度的弹幕滚动不同速度
  danmaku/ui/src/commonMain/kotlin/DanmakuHostState.kt
  danmaku/ui/src/commonMain/kotlin/DanmakuTrackProperties.kt
  danmaku/ui/src/commonMain/kotlin/FloatingDanmakuTrack.kt
  danmaku/ui/src/commonTest/kotlin/FloatingDanmakuTrackTest.kt
Labels: s: 弹幕

#973 #965 弹幕正则过滤UI问题
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/settings/EpisodeVideoSettings.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/sidesheet/EditDanmakuRegexFilterSideSheet.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/danmaku/DanmakuRegexFilterGroup.kt
Labels: t: bug, M, s: 弹幕

#980 Allow always block peer with unexpected fingerprint.
  app/shared/app-data/src/commonMain/kotlin/data/models/preference/TorrentPeerConfig.kt
  app/shared/app-data/src/commonMain/kotlin/tools/torrent/PeerFilterType.kt
  app/shared/app-data/src/commonMain/kotlin/tools/torrent/TorrentEngine.kt
  app/shared/ui-settings/src/androidMain/kotlin/ui/settings/tabs/media/torrent/peer/PeerFilterEditPane.android.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/tabs/media/torrent/peer/PeerFilterEditPane.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/tabs/media/torrent/peer/PeerFilterSettingsState.kt
  torrent/anitorrent/src/commonMain/kotlin/test/TestAnitorrentTorrentDownloader.kt
  torrent/anitorrent/src/jvmMain/kotlin/session/SwigPeerInfo.kt
  torrent/api/src/commonMain/kotlin/api/peer/PeerInfo.kt
Labels: s: torrent, s: cache

#989 增加窗口可拖拽区域
  app/desktop/src/main/kotlin/AniDesktop.kt
  app/shared/src/commonMain/kotlin/ui/cache/CacheManagementPage.kt
  app/shared/src/commonMain/kotlin/ui/cache/details/CacheGroupDetailsPage.kt
  app/shared/src/commonMain/kotlin/ui/subject/cache/SubjectCacheScene.kt
  app/shared/src/commonMain/kotlin/ui/subject/collection/CollectionPage.kt
  app/shared/src/commonMain/kotlin/ui/subject/details/SubjectDetailsPage.kt
  app/shared/ui-foundation/src/androidMain/kotlin/ui/foundation/interaction/WindowDragArea.android.kt
  app/shared/ui-foundation/src/commonMain/kotlin/ui/foundation/interaction/WindowDragArea.kt
  app/shared/ui-foundation/src/desktopMain/kotlin/platform/PlatformWindow.desktop.kt
  app/shared/ui-foundation/src/desktopMain/kotlin/ui/foundation/interaction/WindowDragArea.desktop.kt
  app/shared/ui-foundation/src/iosMain/kotlin/ui/foundation/interaction/WindowDragArea.ios.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/SettingsPage.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/rss/EditRssMediaSource.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/tabs/media/torrent/peer/PeerFilterSettings.kt
Labels: p: desktop

#977 Add SelectorMediaSource & UI
  app/shared/app-data/src/androidMain/kotlin/data/source/media/resolver/AndroidWebVideoSourceResolver.kt
  app/shared/app-data/src/commonMain/kotlin/data/models/preference/VideoResolverSettings.kt
  app/shared/app-data/src/commonMain/kotlin/data/source/media/fetch/MediaSourceManager.kt
  app/shared/app-data/src/commonMain/kotlin/data/source/media/resolver/VideoSourceResolver.kt
  app/shared/app-data/src/commonMain/kotlin/data/source/media/resolver/WebViewVideoExtractor.kt
  app/shared/app-data/src/commonMain/kotlin/data/source/media/source/web/SelectorMediaSource.kt
  app/shared/app-data/src/commonMain/kotlin/data/source/media/source/web/SelectorMediaSourceEngine.kt
  app/shared/app-data/src/commonMain/kotlin/data/source/media/source/web/SelectorSearchConfig.kt
  app/shared/app-data/src/commonMain/kotlin/data/source/media/source/web/WebSearchSubjectInfo.kt
  app/shared/app-data/src/commonMain/kotlin/data/source/media/source/web/format/SelectorChannelFormat.kt
  app/shared/app-data/src/commonMain/kotlin/data/source/media/source/web/format/SelectorFormat.kt
  app/shared/app-data/src/commonMain/kotlin/data/source/media/source/web/format/SelectorSubjectFormat.kt
  app/shared/app-data/src/desktopMain/kotlin/data/source/media/resolver/DesktopWebVideoSourceResolver.kt
  app/shared/src/commonMain/kotlin/ui/main/AniAppContentPortrait.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/PlayerLauncher.kt
  app/shared/ui-settings/src/androidMain/kotlin/ui/settings/mediasource/selector/edit/SelectorChannelConfigurationColumn.android.kt
  app/shared/ui-settings/src/androidMain/kotlin/ui/settings/mediasource/selector/edit/SelectorEditPane.android.kt
  app/shared/ui-settings/src/androidMain/kotlin/ui/settings/mediasource/selector/episode/SelectorEpisodePane.android.kt
  app/shared/ui-settings/src/androidMain/kotlin/ui/settings/mediasource/selector/test/SelectorTestPane.android.kt
  app/shared/ui-settings/src/androidMain/kotlin/ui/settings/mediasource/selector/test/SubjectResultLazyRow.android.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/RefreshIndicatedHeadlineRow.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/EditSelectorMediaSourcePage.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/SelectorMediaSourceConfigurationPage.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/edit/SelectorChannelConfigurationColumn.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/edit/SelectorConfigState.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/edit/SelectorConfigurationDefaults.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/edit/SelectorConfigurationPane.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/episode/SelectorEpisodePane.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/episode/SelectorEpisodePaneDefaults.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/episode/SelectorEpisodeResult.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/episode/SelectorEpisodeState.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/test/SelectTestEpisodeResult.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/test/SelectorTestEpisodeList.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/test/SelectorTestPane.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/test/SelectorTestResultLazyRow.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/test/SelectorTestSearchSubjectResult.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/test/SelectorTestState.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/mediasource/selector/test/SubjectResultLazyRow.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/tabs/media/source/MediaSourceGroup.kt
  datasource/api/src/commonMain/kotlin/matcher/WebVideoMatcher.kt
  datasource/web/gugufan/src/GugufanMediaSource.kt
  datasource/web/mxdongman/src/MxdongmanMediaSource.kt
  datasource/web/ntdm/src/NtdmMediaSource.kt
  datasource/web/nyafun/src/NyafunMediaSource.kt
  datasource/web/xfdm/src/XfdmMediaSource.kt
Labels: t: feature, s: media

#1015 将搜索中冗余的subject删除，全部使用subjectInfo
  app/shared/app-data/src/commonMain/kotlin/data/bangumi/BangumiPagedSource.kt
  app/shared/app-data/src/commonMain/kotlin/data/bangumi/BangumiSubjectProvider.kt
  app/shared/app-data/src/commonMain/kotlin/tools/search/SubjectProvider.kt
  app/shared/app-data/src/commonMain/kotlin/tools/search/SubjectSearcher.kt
  app/shared/application/src/commonMain/kotlin/platform/CommonKoinModule.kt
  app/shared/src/commonMain/kotlin/ui/home/search/SearchViewModel.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/SettingsViewModel.kt
  datasource/bangumi/src/commonMain/kotlin/BangumiClient.kt
  datasource/bangumi/src/commonMain/kotlin/BangumiSubjectProvider.kt
  datasource/bangumi/src/commonMain/resources/META-INF/services/me.him188.ani.datasources.api.subject.SubjectProvider
Labels: s: search

#1002 优先选择偏好类型数据源，不需要等其他源查询完毕
  app/shared/app-data/src/commonMain/kotlin/data/source/media/fetch/MediaFetchSession.kt
  app/shared/app-data/src/commonMain/kotlin/data/source/media/fetch/MediaFetcher.kt
  app/shared/app-data/src/commonMain/kotlin/data/source/media/selector/MediaSelector.kt
  app/shared/app-data/src/commonMain/kotlin/data/source/media/selector/MediaSelectorAutoSelect.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeViewModel.kt
  app/shared/src/desktopTest/kotlin/data/source/media/fetch/MediaFetcherTest.kt
  app/shared/src/desktopTest/kotlin/data/source/media/framework/TestMediaSelector.kt
  app/shared/src/desktopTest/kotlin/data/source/media/selector/MediaSelectorAutoSelectTest.kt
Labels: s: media
