Repository open-ani/animeko, pull requests merged in 2025-03, with the labels that each got.

#1748 Fix URL Navigate SubjectDetailsPage
  app/android/src/main/kotlin/activity/MainActivity.kt
Labels: android

#1760 MediaSelectorSummary
  app/shared/ui-mediaselect/build.gradle.kts
  app/shared/ui-mediaselect/src/commonMain/kotlin/package.kt
  app/shared/ui-mediaselect/src/commonMain/kotlin/ui/mediaselect/summary/EstimatedProgressIndicator.kt
  app/shared/ui-mediaselect/src/commonMain/kotlin/ui/mediaselect/summary/MediaSelectorSummary.kt
  settings.gradle.kts
Labels: s: media selector

#1761 [build] Verify analytics configs
  .github/workflows/build.yml
  .github/workflows/src.main.kts
  app/desktop/src/main/kotlin/TestTasks.kt
Labels: s: build

#1768 [analytics] Move Sentry implementation from app-platform to applicatio…
  app/shared/app-platform/build.gradle.kts
  app/shared/app-platform/src/commonMain/kotlin/trace/ErrorReport.kt
  app/shared/application/build.gradle.kts
  app/shared/application/src/commonMain/kotlin/platform/AppStartupTasks.kt
  app/shared/application/src/commonMain/kotlin/platform/trace/ErrorReportImpl.kt
  buildSrc/src/main/kotlin/ani-mpp-lib-targets.gradle.kts
Labels: s: build

#1770 对于普通剧集不考虑剧集名称匹配
  app/shared/app-data/src/commonMain/kotlin/domain/mediasource/MediaListFilters.kt
  app/shared/app-data/src/commonTest/kotlin/domain/mediasource/MediaListFilterEpisodeFilterTest.kt
Labels: s: media selector

#1774 Media Selector simple mode
  app/shared/app-data/src/commonMain/kotlin/domain/media/selector/GetPreferredMediaSourceSortingUseCase.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/selector/MaybeExcludedMedia.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/selector/MediaSelector.kt
  app/shared/app-data/src/commonMain/kotlin/domain/mediasource/web/SelectorMediaSourceEngine.kt
  app/shared/app-data/src/commonMain/kotlin/domain/usecase/UseCaseModules.kt
  app/shared/app-data/src/commonTest/kotlin/domain/media/selector/DefaultMediaSelectorMatchMetadataTest.kt
  app/shared/app-data/src/commonTest/kotlin/domain/media/selector/MediaSelectorTestSuite.kt
  app/shared/src/androidMain/kotlin/ui/subject/episode/mediaFetch/MediaSelector.android.kt
  app/shared/src/commonMain/kotlin/ui/subject/cache/CacheListGroup.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeViewModel.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/details/EpisodeDetails.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/details/EpisodePlayMediaSelector.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/mediaFetch/MediaSelectorState.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/mediaFetch/MediaSelectorView.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/mediaFetch/MediaSourceResultPresentation.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/mediaFetch/MediaSourceResultsView.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/video/sidesheet/EpisodeVideoMediaSelectorSideSheet.kt
  app/shared/src/desktopTest/kotlin/ui/subject/cache/EpisodeCacheStateTest.kt
  app/shared/ui-mediaselect/src/commonMain/kotlin/ui/mediaselect/common/SourceIcon.kt
  app/shared/ui-mediaselect/src/commonMain/kotlin/ui/mediaselect/selector/MediaSelectorWebColumn.kt
  app/shared/ui-mediaselect/src/commonMain/kotlin/ui/mediaselect/summary/MediaSelectorSummary.kt
  datasource/api/src/commonMain/kotlin/Media.kt
Labels: s: media selector

#1818 feat: Add `alwaysDarkInEpisodePage`, close #1804
  app/shared/app-data/src/commonMain/kotlin/data/models/preference/ThemeSettings.kt
  app/shared/src/androidMain/kotlin/ui/subject/episode/video/TorrentMediaCacheProgressState.android.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodePage.kt
  app/shared/src/commonMain/kotlin/ui/subject/episode/EpisodeVideo.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoControllerTest.kt
  app/shared/src/desktopTest/kotlin/ui/subject/episode/EpisodeVideoCursorTest.kt
  app/shared/ui-episode/src/commonMain/kotlin/ui/episode/AdaptivePlayerScreenLayout.kt
  app/shared/ui-foundation/src/commonMain/kotlin/ui/foundation/PreviewFoundation.kt
  app/shared/ui-foundation/src/commonMain/kotlin/ui/foundation/theme/AppTheme.kt
  app/shared/ui-settings/src/commonMain/kotlin/ui/settings/tabs/theme/ThemePreferences.kt
Labels: s: ui

#1828 refactor: Disable HWWP & WindowFrame for Wine
  app/desktop/src/main/kotlin/AniDesktop.kt
  app/shared/ui-foundation/src/desktopMain/kotlin/platform/window/WindowsWindowProc.kt
Labels: desktop

#1834 支持缓存在线源
  app/shared/app-data/build.gradle.kts
  app/shared/app-data/src/commonMain/kotlin/data/persistent/SettingsStore.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/cache/MediaAutoCacheService.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/cache/MediaCache.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/cache/engine/DummyMediaCacheEngine.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/cache/engine/M3u8MediaCacheEngine.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/cache/engine/MediaCacheEngine.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/cache/engine/TorrentMediaCacheEngine.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/cache/requester/EpisodeCacheRequester.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/cache/storage/DirectoryMediaCacheStorage.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/cache/storage/MediaCacheStorage.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/player/data/MediaDataProvider.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/player/data/SystemFileMediaDataProvider.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/resolver/LocalFileMediaResolver.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/resolver/MediaResolver.kt
  app/shared/app-data/src/desktopTest/kotlin/domain/media/cache/DirectoryMediaCacheStorageTest.kt
  app/shared/application/src/commonMain/kotlin/platform/CommonKoinModule.kt
  app/shared/src/commonMain/kotlin/ui/main/AniApp.kt
  app/shared/src/commonMain/kotlin/ui/subject/cache/SubjectCacheScene.kt
  datasource/api/src/commonMain/kotlin/topic/ResourceLocation.kt
  settings.gradle.kts
  utils/http-downloader/build.gradle.kts
  utils/http-downloader/src/commonMain/kotlin/KtorPersistentM3u8Downloader.kt
  utils/http-downloader/src/commonMain/kotlin/M3u8Downloader.kt
  utils/http-downloader/src/commonMain/kotlin/M3u8DownloaderImpl.kt
  utils/http-downloader/src/commonMain/kotlin/m3u/M3u8Parser.kt
  utils/http-downloader/src/commonMain/kotlin/package.kt
  utils/http-downloader/src/commonTest/kotlin/KtorM3u8DownloaderTest.kt
  utils/http-downloader/src/commonTest/kotlin/m3u/DefaultM3u8ParserTest.kt
  utils/http-downloader/src/commonTest/kotlin/package.kt
  utils/http-downloader/src/jvmMain/kotlin/package.kt
  utils/ktor-client/src/commonTest/kotlin/HttpTokenCheckerTest.kt
Labels: s: media, s: cache

#1854 Sg/fix jcef init
  app/shared/app-platform/src/desktopMain/kotlin/platform/AniCefApp.kt
  utils/io/src/jvmMain/kotlin/FileExtension.kt
  utils/io/src/jvmTest/kotlin/FileExtensionTest.kt
Labels: desktop

#1864 Build iOS IPA on CI
  .github/workflows/build.yml
  .github/workflows/src.main.kts
  app/ios/build.gradle.kts
Labels: ios

#1859 双击标题栏最大化窗口, close #976
  app/desktop/src/main/kotlin/window/MacOSWindowFrame.kt
  app/shared/ui-adaptive/src/commonMain/kotlin/ui/adaptive/AniTopAppBar.kt
  app/shared/ui-foundation/src/androidMain/kotlin/platform/PlatformWindow.android.kt
  app/shared/ui-foundation/src/commonMain/kotlin/platform/PlatformWindow.kt
  app/shared/ui-foundation/src/desktopMain/kotlin/platform/PlatformWindow.desktop.kt
  app/shared/ui-foundation/src/iosMain/kotlin/platform/PlatformWindow.ios.kt
Labels: desktop, s: ui
