Repository open-ani/animeko, pull requests merged in 2025-04, with the labels that each got.

#1883 CI 打包 IPA 上传 release 附件
  .github/workflows/release.yml
  .github/workflows/src.main.kts
  ci-helper/build.gradle.kts
Labels: ios

#1886 [build] Unroll step attempts at compile-time
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/src.main.kts
Labels: s: build

#1887 [build] Run Verify tasks for linux
  .github/workflows/build.yml
  .github/workflows/src.main.kts
Labels: s: build

#1898 [build] Enable swap for Ubuntu
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/src.main.kts
Labels: s: build

#1913 添加条目和 Media 系统文档
  .editorconfig
  app/shared/app-data/src/commonMain/kotlin/domain/media/selector/MaybeExcludedMedia.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/selector/MediaSelector.kt
  app/shared/app-data/src/commonMain/kotlin/domain/media/selector/filter/MediaSelectorFilterSortAlgorithm.kt
  app/shared/app-data/src/commonMain/kotlin/domain/mediasource/MediaListFilter.kt
  app/shared/src/desktopTest/kotlin/data/TestMediaSelector.kt
  datasource/api/src/commonMain/kotlin/Media.kt
  docs/contributing/README.md
  docs/contributing/code/media-framework.md
  docs/contributing/code/media/media-cache.md
  docs/contributing/code/media/media-selector.md
  docs/contributing/code/media/media-source.md
  docs/contributing/code/subjects.md
  utils/coroutines/src/commonMain/kotlin/flows/FlowConstants.kt
Labels: t: documentation

#1919 [build] Write local.properties for external tool compatibility for ios
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/src.main.kts
Labels: ios

#2034 Check share ratio.
  app/shared/app-data/src/commonMain/kotlin/domain/media/cache/engine/TorrentMediaCacheEngine.kt
Labels: s: torrent
